In [20]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
#warnings.simplefilter(action='ignore', category=np.VisibleDeprecationWarning)

## Comparison ##

In [21]:
3 > 1

True

In [22]:
type(3 > 1)

bool

In [23]:
True

True

In [24]:
true

NameError: name 'true' is not defined

(We see that capitalization matters.)

In [25]:
3 = 3

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3802935557.py, line 1)

In [26]:
3 == 3.0

True

In [27]:
10 != 2

True

In [28]:
x = 14
y = 3

In [29]:
x > 15

False

In [30]:
12 < x

True

In [31]:
x < 20

True

In [32]:
12 < x < 20

True

In [33]:
10 < x-y < 13

True

In [34]:
x > 13 and y < 3.14159

True

(The comparison `12 < x < 20` is equivalent to `12 < x and x < 20`.)

## Comparisons with arrays

In [35]:
pets = make_array('cat', 'cat', 'dog', 'cat', 'dog', 'rabbit')

In [36]:
pets == 'cat'

array([ True,  True, False,  True, False, False], dtype=bool)

In [37]:
1 + 1 + 0 + 1 + 0 + 0

3

In [38]:
sum(make_array(True, True, False, True, False, False))

3

In [39]:
sum(pets == 'dog')

2

In [40]:
np.count_nonzero(pets == 'dog')

2

In [41]:
x = np.arange(20, 31)

In [42]:
x > 28

array([False, False, False, False, False, False, False, False, False,
        True,  True], dtype=bool)

In [43]:
sum(x > 28)

2

## Conditional Statements

In [53]:
x = 21

In [50]:
if x >= 18:
    print('You can legally vote.')

You can legally vote.

In [51]:
if x >= 21:
    print('You can legally drink.')

You can legally drink.

In [54]:
def age(x):
    if x >= 18:
        return 'You can legally vote.'
    if x >= 21:
        return 'You can legally drink.'

In [55]:
age(3)

'you cannot drink or vote'

In [56]:
age(20)

'You can legally vote.'

In [57]:
age(25)

'You can legally vote.'

In [58]:
def age(x):
    if x >= 21:
        return 'You can legally vote and drink.'
    elif x >= 18:
        return 'You can legally vote.'
    else:
        return 'You can legally drink milk.'

In [59]:
age(3)

'You can legally drink milk.'

In [60]:
age(20)

'You can legally vote.'

In [61]:
age(23)

'You can legally vote and drink.'

In [65]:
trip = Table().read_table('trip.csv')
trip.show(3)

In [66]:
def trip_kind(start, end):
    if start == end:
        return 'round trip'
    else:
        return 'one way'

kinds = trip.with_column('Trip Kind', trip.apply(trip_kind, 'Start Station', 'End Station'))
kinds.show(3)

In [67]:
kinds.where('Duration', are.below(600)).pivot('Trip Kind', 'Start Station')

Start Station                    | one way | round trip
2nd at Folsom                    | 3285    | 9
2nd at South Park                | 2506    | 38
2nd at Townsend                  | 4753    | 34
5th at Howard                    | 2741    | 12
Adobe on Almaden                 | 232     | 2
Arena Green / SAP Center         | 143     | 11
Beale at Market                  | 2825    | 16
Broadway St at Battery St        | 2198    | 24
California Ave Caltrain Station  | 20      | 6
Castro Street and El Camino Real | 511     | 7
... (60 rows omitted)

## Simulation

Let's play a game: we each roll a die. 

If my number is bigger: you pay me a dollar.

If they're the same: we do nothing.

If your number is bigger: I pay you a dollar.

Steps:
1. Find a way to simulate two dice rolls.
2. Compute how much money we win/lose based on the result.
3. Do steps 1 and 2 10,000 times.

### Conditional Statements

In [ ]:
# Work in progress
def one_round(my_roll, your_roll):
    if my_roll > your_roll:
        return 1

In [ ]:
one_round(4, 3)

In [ ]:
one_round(2, 6)

In [ ]:
# Final correct version
def one_round(my_roll, your_roll):
    if my_roll > your_roll:
        return 1
    elif your_roll > my_roll:
        return -1
    elif your_roll == my_roll:
        return 0

In [ ]:
one_round(1, 1)

In [ ]:
one_round(6, 5)

In [ ]:
one_round(7, -1)

### Random Selection

In [6]:
mornings = make_array('wake up', 'sleep in')

In [ ]:
np.random.choice(mornings)

In [ ]:
np.random.choice(mornings)

In [ ]:
np.random.choice(mornings)

We can also pass an argument that specifies how many times to make a random choice:

In [ ]:
np.random.choice(mornings, 7)

In [ ]:
sum(np.random.choice(mornings, 7) == 'wake up')

In [ ]:
sum(np.random.choice(mornings, 7) == 'sleep in')

In [ ]:
morning_week = np.random.choice(mornings, 7)
morning_week

In [ ]:
sum(morning_week == 'wake up')

In [ ]:
sum(morning_week == 'sleep in')

### Simulating the roll of a die

In [ ]:
die_faces = np.arange(1, 7)

In [ ]:
np.random.choice(die_faces)

In [ ]:
def simulate_one_round():
    my_roll = np.random.choice(die_faces)
    your_roll = np.random.choice(die_faces)
    return one_round(my_roll, your_roll)

In [ ]:
simulate_one_round()

### Appending Arrays

In [ ]:
first = np.arange(4)
second = np.arange(10, 17)

In [ ]:
np.append(first, 6)

In [ ]:
first

In [ ]:
np.append(first, second)

In [ ]:
first

In [ ]:
second

### Repeated Betting ###

In [ ]:
results = make_array()

In [ ]:
results = np.append(results, simulate_one_round())
results

In [ ]:
results = np.append(results, simulate_one_round())
results

## `For` Statements

In [68]:
for pet in make_array('cat', 'dog', 'rabbit'):
    print('I love my ' + pet)

I love my cat
I love my dog
I love my rabbit

In [69]:
pet = make_array('cat', 'dog', 'rabbit').item(0)
print('I love my ' + pet)

pet = make_array('cat', 'dog', 'rabbit').item(1)
print('I love my ' + pet)

pet = make_array('cat', 'dog', 'rabbit').item(2)
print('I love my ' + pet)

I love my cat
I love my dog
I love my rabbit

In [70]:
game_outcomes = make_array()

for i in np.arange(5):
    game_outcomes = np.append(game_outcomes, simulate_one_round())
    
game_outcomes

NameError: name 'simulate_one_round' is not defined

In [ ]:
game_outcomes = make_array()

for i in np.arange(10000):
    game_outcomes = np.append(game_outcomes, simulate_one_round())
    
game_outcomes

In [ ]:
len(game_outcomes)

In [ ]:
results = Table().with_column('My winnings', game_outcomes)

In [ ]:
results

In [ ]:
results.group('My winnings').barh('My winnings')

### Another example: simulating heads in 100 coin tosses

In [17]:
coin = make_array('heads', 'tails')

In [ ]:
sum(np.random.choice(coin, 100) == 'heads')

In [19]:
# Simulate one outcome

def num_heads():
    return sum(np.random.choice(coin, 100) == 'heads')

In [37]:
# Decide how many times you want to repeat the experiment

repetitions = 100

In [35]:
# Simulate that many outcomes

outcomes = make_array()

for i in np.arange(repetitions):
    outcomes = np.append(outcomes, num_heads())

In [ ]:
heads = Table().with_column('Heads', outcomes)
heads.hist(bins = np.arange(29.5, 70.6))

## Optional: Advanced `where` ##

In [22]:
ages = make_array(16, 22, 18, 15, 19, 15, 16, 21)
age = Table().with_column('Age', ages)

In [ ]:
age

In [ ]:
age.where('Age', are.above_or_equal_to(18))

In [25]:
voter = ages >= 18

In [ ]:
voter

We are extracting rows from `age` based on whether its corresponding entry in `voter` is `True`.

In [ ]:
age.where(voter)

In [ ]:
is_voter = are.above_or_equal_to(18)

In [ ]:
type(is_voter)

In [ ]:
is_voter(22)

In [ ]:
is_voter(3)

In [ ]:
age.apply(is_voter, 'Age')

In [ ]:
ages >= 18

In [ ]:
voter

In [ ]:
def my_voter_function(x):
    return x >= 18

In [ ]:
age.where('Age', are.above_or_equal_to(18))

In [ ]:
age.where(voter)

In [ ]:
age.where('Age', my_voter_function)